.hero-container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
    180.82deg,
    rgba(71, 26, 14, 0) 16.75%,
    rgba(255, 153, 0, 0.47) 96.67%
  );
  padding-bottom: 100px;
  min-height: 100vh;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  margin-top: 185px;
  padding: 0px 32px;
  flex-wrap: wrap;
}
.hero--left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Unica One";
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
  gap: 16px;
}
.hero--left-title {
  font-size: 50px;
  line-height: 59px;
  width: 533.14px;
  height: 118px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero--left-description-a {
  width: 399.8px;
  height: 115px;
  font-size: 17px;
  line-height: 23px;
  font-family: "Play";
}

.hero--right {
  width: 472.34px;
  height: 444.84px;
}
@media screen and (max-width: 1280px) {
  .hero-container {
    flex-wrap: wrap-reverse;
    margin-top: 40px;
  }
}
