.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;
  max-width: 1440px;
  margin-top: 24px;
  padding: 0px 35px;
}
.header--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header--link {
  height: 19px;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.header--social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.header--social-icon {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 1000px) {
  .header--links,
  .header--social {
    display: none;
  }
}
