.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;
  max-width: 1440px;
  margin-top: 24px;
  padding: 0px 35px;
  position: relative;
  z-index: 2;
}
.header--brand {
  width: 111.44px;
  height: 63.56px;
}
.header--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header--link {
  height: 19px;
  font-family: "Dongle";
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;

  color: white;
  text-decoration: none;
}
.header--social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.header--social-icon {
  width: 32px;
  height: 32px;
}
.header--mobile {
  display: none;
}
@media screen and (max-width: 1120px) {
  .header--mobile {
    display: flex;
  }
  .header--links,
  .header--social {
    display: none;
  }
  .header-container {
    justify-content: space-between;
    gap: none;
    max-width: 100%;
    margin-top: 24px;
    padding: 0px 16px;
  }
}
