.ourvision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 128px 32px;
  gap: 128px;
  flex-wrap: wrap;
}
.hero--left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.ourvision--left-title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  text-decoration-line: underline 2px;
  color: #ffffff;
}
.ourvision--left-description-a {
  width: 511px;
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #ffffff;
}
.hero--right {
  flex-direction: column;
  width: 278px;
}
.hero--right-img {
  width: 278px;
  height: 402px;
}
@media screen and (max-width: 1000px) {
  .ourvision-container {
    padding: 64px 32px;
    gap: 64px;
  }
}
@media screen and (max-width: 600px) {
  .ourvision--left-description-a {
    width: 100%;
    font-size: 24px;
    line-height: 23px;
  }
}
