.tokenomics-container {
  padding: 128px 32px;
  gap: 128px;
  width: 100%;
}

.tokenomics--left {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  width: 300px;
}

.tokenomics--left-img {
  width: 62.11px;
  height: 83.97px;
}
.tokenomics--left-title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  color: #ffffff;
}
.tokenomics--left-description {
  font-family: "Dongle";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #ffffff;
}
.tokenomics--right {
  gap: 32px;
  width: 800px;
}
.tokenomics--right-section {
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 1200px) {
  .tokenomics-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .tokenomics--right {
    flex-direction: column;
  }
  .tokenomics--right-section {
    width: 400px;
  }
}
